*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
input:focus{
  outline: none;
}

body{
  background-color:aquamarine;
}

.container{
  width: 600px;
  height: 100%;
  margin: 50px auto;
  padding: 10px;
  background-color:#fff;
}

.inp{
  margin: 20px 0px;
}

.inp > input{
  height: 30px;
  width: 70%;
  padding-left: 10px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.556);

}

.inp > select{
  width: 22%;
  height: 30px;
  margin-left: 10px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.556);
  text-align: center;
}

.shortContainer{
  height: 50px;
  background-color: rgba(0, 0, 0, 0.181);
}

.userTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 460px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 600;
  font-family: sans-serif;
  padding-bottom: 20px;
}

.userTitle> div{
  margin-top: 10px;
}

.users{
  width: 460px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}

.id{
  color: red;
}

.userData > input{
  border: none;
}

.userData:focus{
   border: 1px solid white;
}

#numberId> input{
  width: 30px;
}


.footer > input{
   height: 23px;
   border-radius: 4px;
   padding-left: 7px;
   width: 155px;
}

.footer{
  width: 580px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin: 20px 0;
}

.footer > input::placeholder{
  padding-left: 1px;
}

.btn{
  padding: 2px 20px;
  border-radius: 4px;
  border: none;
  background-color:hwb(190 0% 18%);
  font-family:  sans-serif;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.del{
  cursor: pointer;
  font-weight: 500;
}

.del:hover{
  background-color: black;
  color: white;
  border-radius: 3px;
  font-weight: 600;
}